/* Wordpress */

/* 1 header.php */
/* Customizer logo brand */
.custom-logo{
    max-width: 48px !important;
    height: auto !important;
    margin-right: 10px;
}


.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}
