@charset "UTF-8";
/*
kukumi style V1.0
A - HEAD
B - COMPONENTES
    B.1 Title section
1. HOME 
    1.1 - Hero Flickity slider
    1.2 - Section View Shop
    1.3 - Section Trending
    1.4 - Section Design
    1.5 - Section Blog
2. SHOP
    2.1 - Section Products
    2.2 - Section Sidebar Shop
3. PRODUCT
C - Footer
D - Custom bootstrap
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");
img {
  filter: saturate(0);
  -webkit-filter: saturate(0);
}

a {
  text-decoration: none;
  color: black;
}

/* A - HEAD */
#header {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
#header #brand {
  min-width: 145px;
  display: flex;
  align-items: center;
}
#header #brand .brand__logo {
  max-width: 64px;
  height: auto;
}
#header #brand .brand__title {
  display: block;
  width: auto;
}
#header .menu__item {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}

#usermenu {
  width: 100px;
}
#usermenu svg {
  color: black;
}

/* B - COMPONENTS */
/* B.1 Title secction */
#title__section,
#title__section--line {
  margin: 45px 0;
}
#title__section h3,
#title__section--line h3 {
  font-family: "Poppins";
  font-size: 1.25em;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0;
}

#title__section--line {
  display: inline-block;
}
#title__section--line h3 {
  margin-top: 20px;
  padding: 10px 50px 10px 50px;
  background: rgb(209, 209, 209);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
}

/* 1. HOME */
/* 1.1 - Hero Flickity slider */
.main-carousel {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .main-carousel {
    height: 300px;
  }
}
.main-carousel .carousel-cell img,
.main-carousel .carousel-cell--main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.main-carousel .carousel-cell {
  width: 50%;
  height: 600px;
}
.main-carousel .carousel-cell--main {
  width: 100%;
}
.main-carousel .carousel-cell--main div {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
}
.main-carousel .carousel-cell--main div h1 {
  display: block;
  font-family: "Poppins";
  font-size: 2em;
  line-height: 40px;
  letter-spacing: 0;
}
.main-carousel .carousel-cell--main div h1,
.main-carousel .carousel-cell--main div a,
.main-carousel .carousel-cell--main div span {
  margin-bottom: 30px;
}
.main-carousel .carousel-cell--main div .info__txt {
  display: block;
  width: 100%;
  padding-right: 10px;
  font-family: "Poppins";
  font-size: 3em;
  line-height: 56px;
  letter-spacing: 0;
}
.main-carousel .carousel-cell--main div .info__cta {
  width: 250px;
  padding: 12px 24px;
  text-align: center;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: black;
}
@media (max-width: 576px) {
  .main-carousel .carousel-cell--main div {
    top: 5%;
  }
  .main-carousel .carousel-cell--main div h1 {
    font-family: "Poppins";
    font-size: 1.5em;
    line-height: 32px;
    letter-spacing: 0;
  }
  .main-carousel .carousel-cell--main div .info__txt {
    font-family: "Poppins";
    font-size: 2em;
    line-height: 40px;
    letter-spacing: 0;
  }
}
@media (max-width: 425px) {
  .main-carousel .carousel-cell--main div h1,
  .main-carousel .carousel-cell--main div span {
    margin-bottom: 15px !important;
  }
  .main-carousel .carousel-cell--main div h1 {
    font-family: "Poppins";
    font-size: 1.25em;
    line-height: 32px;
    letter-spacing: 0;
  }
  .main-carousel .carousel-cell--main div .info__txt {
    font-family: "Poppins";
    font-size: 1.5em;
    line-height: 32px;
    letter-spacing: 0;
  }
  .main-carousel .carousel-cell--main div .info__cta {
    margin-bottom: 0;
    padding: 6px;
  }
}
.main-carousel .flickity-button {
  display: none;
}
.main-carousel .flickity-page-dots {
  bottom: 10px;
}
.main-carousel .flickity-page-dots .dot {
  height: 2px;
  width: 40px;
  margin: 0 5px;
  border-radius: 0;
  background: white;
}

/* 1.2 - Section View Shop */
#shop {
  margin: 0 30px 30px 30px;
}
#shop .products {
  margin: 10px 0 90px 0;
}
@media (max-width: 576px) {
  #shop .products {
    justify-content: center !important;
  }
}
#shop .products .product {
  position: relative;
  display: flex;
  justify-content: center;
  width: 233px;
  height: 345px;
  margin: 10px;
  overflow: hidden;
}
@media (max-width: 576px) {
  #shop .products .product {
    width: 100%;
    padding: 0;
  }
}
#shop .products .product img {
  height: 100%;
  width: auto;
}
@media (max-width: 576px) {
  #shop .products .product img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
#shop .products .product .item__head,
#shop .products .product .price {
  position: absolute;
  padding: 10px;
}
#shop .products .product .item__head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
}
#shop .products .product .item__head h3 {
  margin: 0;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
#shop .products .product .item__head .size {
  display: flex;
  width: 20%;
}
#shop .products .product .item__head .size ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  margin: auto 0;
  padding: 0;
}
#shop .products .product .item__head .size ul li {
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}
#shop .products .product .price {
  bottom: 0;
  left: 0;
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}

/* 1.3 - Section Trending */
#trending {
  background-color: rgb(170, 170, 170);
}
#trending .trending__img {
  overflow: hidden;
}
#trending .trending__img img {
  max-width: 100%;
  height: auto;
  padding: 0 !important;
}
#trending .trending__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
#trending .trending__info h2 {
  width: 90%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 5em;
  line-height: 88px;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  #trending .trending__info h2 {
    font-family: "Poppins";
    font-size: 3em;
    line-height: 56px;
    letter-spacing: 0;
  }
}
@media (max-width: 576px) {
  #trending .trending__info h2 {
    font-family: "Poppins";
    font-size: 2.5em;
    line-height: 48px;
    letter-spacing: 0;
  }
}
#trending .trending__info a {
  margin-top: 20px;
  padding: 12px 24px;
  text-align: center;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid white;
}

/* 1.4 - Section Design */
#design .design__slider {
  display: flex;
  background-color: rgb(224, 224, 224);
}
#design .design__slider img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#design .design__products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#design .design__products .product__card {
  justify-content: center;
}
#design .design__products .product__card .card__img {
  display: flex;
  overflow: hidden;
}
#design .design__products .product__card .card__img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#design .design__products .product__card .card__info h3 {
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
#design .design__products .product__card .card__info .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#design .design__products .product__card .card__info .info h3 {
  display: block;
}
#design .design__products .product__card .card__info .info h3,
#design .design__products .product__card .card__info .info .info__sizes ul,
#design .design__products .product__card .card__info .info .info__prices {
  margin-bottom: 10px;
}
#design .design__products .product__card .card__info .info .info__sizes ul {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}
#design .design__products .product__card .card__info .info .info__sizes ul li {
  width: 32px;
  height: 32px;
  padding: 10px 10px;
  line-height: 1100px;
  margin: 0 5px;
  text-align: center;
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  border: 1px solid black;
  border-radius: 50%;
}

/* 1.5 - Section Blog */
#stories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0;
}
#stories .story__card {
  margin: 10px;
  text-align: right;
}
#stories .story__card img {
  max-width: 150px;
  max-height: auto;
  border-radius: 35%;
  border-bottom-left-radius: 0;
}
#stories .story__card h3,
#stories .story__card p {
  display: block;
  margin: 0;
}
#stories .story__card h3 {
  margin: 10px 0;
  font-family: "Poppins";
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0;
}
#stories .story__card p {
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}

/* 2. SHOP */
/* 2.1 - Section Products*/
@media (max-width: 425px) {
  .shop__products {
    justify-content: start !important;
  }
}
@media (max-width: 320px) {
  .shop__products {
    justify-content: center !important;
  }
}
.shop__products .shop__product {
  width: 284px;
  height: 383px;
  margin: 5px;
}
@media (max-width: 320px) {
  .shop__products .shop__product {
    width: 184px;
    height: 283px;
  }
}
.shop__products .shop__product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.shop__products .shop__product .product__info {
  display: flex;
  justify-content: space-around;
}
.shop__products .shop__product .product__info .info__title {
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
  align-self: center;
}
.shop__products .shop__product .product__info .info__price {
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
}

/* 2.2 - Section Sidebar Shop*/
.shop__sidebar .sidebar__filters p {
  margin-bottom: 10px;
  font-family: "Poppins";
}
.shop__sidebar .sidebar__filters ul {
  padding: 0;
  margin: 0;
}
.shop__sidebar .sidebar__filters ul > li {
  list-style: none;
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
  margin-bottom: 10px;
}

/* 3. Checkout */
#product {
  /* 3.1 - Section product */
  /* 3.2 - Section product info */
}
#product #product__single {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(189, 189, 189, 0.7077205882) 100%);
  margin: 50px 0;
}
#product #product__single .product__single__item {
  justify-content: space-between;
}
@media (max-width: 576px) {
  #product #product__single .product__single__item .item__img {
    height: auto;
  }
}
#product #product__single .product__single__item .item__img img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
#product #product__single .product__single__item .item__img .item__gallery {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  box-shadow: -1px 2px 21px -3px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
#product #product__single .product__single__item .item__img .item__gallery .gallery {
  border: 5px solid white;
  outline-offset: 5px;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  background: rgb(209, 209, 209);
}
@media (max-width: 576px) {
  #product #product__single .product__single__item .item__img .item__gallery .gallery {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 992px) {
  #product #product__single .product__single__item .item__info {
    margin-top: 20px;
  }
  #product #product__single .product__single__item .item__info * {
    margin: 10px 0;
  }
}
@media (max-width: 320px) {
  #product #product__single .product__single__item .item__info {
    text-align: center;
  }
}
#product #product__single .product__single__item .item__info h2 {
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 2em;
  line-height: 40px;
  letter-spacing: 0;
}
#product #product__single .product__single__item .item__info .info__infosize button {
  margin-left: 10px;
  box-shadow: none;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.9px;
  font-family: "Poppins";
  font-size: 1.25em;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0;
}
#product #product__single .product__single__item .item__info .info__sizes {
  align-self: center;
}
@media (max-width: 320px) {
  #product #product__single .product__single__item .item__info .info__sizes {
    justify-content: center;
  }
}
#product #product__single .product__single__item .item__info .info__sizes ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 10px 0;
}
#product #product__single .product__single__item .item__info .info__sizes ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  padding: 10px 10px;
  margin: 0 5px;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.5em;
  line-height: 32px;
  letter-spacing: 0;
  border: 1px solid black;
  border-radius: 50%;
}
@media (max-width: 992px) {
  #product #product__single .product__single__item .item__info .info__sizes ul li {
    width: 52px;
    height: 52px;
    font-family: "Poppins";
    font-size: 1.25em;
    line-height: 32px;
    letter-spacing: 0;
  }
}
#product #product__single .product__single__item .item__info span {
  font-family: "Poppins";
  font-size: 2.5em;
  line-height: 48px;
  letter-spacing: 0;
}
#product #product__single .product__single__item .item__info span::after {
  color: rgb(170, 170, 170);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  content: "60,00€";
  font-family: "Poppins";
  font-size: 0.5em;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 0;
  margin-left: 10px;
}
#product #product__single .product__single__item .item__info .info__cta {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins";
}
@media (max-width: 992px) {
  #product #product__single .product__single__item .item__info .info__cta {
    padding: 10px 5px;
  }
}
@media (max-width: 768px) {
  #product #product__single .product__single__item .item__info .info__cta {
    margin: 20px auto;
  }
}
#product #product__single .product__single__item #info__accordion * {
  margin: 0;
}
#product #product__single .product__single__item #info__accordion .accordion-item {
  background: transparent;
}
#product #product__single .product__single__item #info__accordion .accordion-button {
  background-color: transparent;
  box-shadow: none;
  font-family: "Poppins";
  font-size: 0.68em;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 0;
}
#product #product__single .product__single__item #info__accordion .accordion-body {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
#product #product__info i {
  font-size: 1em;
}
#product #product__info span {
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}

/* C - Footer */
#footer {
  margin: 90px auto;
  display: flex;
  flex-wrap: wrap;
}
#footer .footer__xl .footer__widget {
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px 12px 0 !important;
  padding-left: 15px;
  border-left: 0.3px solid black;
}
#footer .footer__xl .footer__widget h3 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
#footer .footer__xl .footer__widget a {
  padding: 8px 0;
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}
#footer .footer__xl .footer__email {
  margin-top: 5px;
  width: 400px;
}
#footer .footer__xl .footer__email p {
  width: auto;
  margin-top: 12px;
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}

/* D - Custom bootstrap */
/* 1. navbar */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* 2. accordion */
#footer .accordion {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  border-left: 0.5px black solid;
}
#footer .accordion__footer__widget,
#footer .accordion-button {
  box-shadow: none !important;
}
#footer .accordion__footer__widget {
  border-left: 0.5px black solid;
}
#footer .accordion-button {
  padding-bottom: 0;
  padding-top: 0;
  background: none !important;
  box-shadow: none !important;
}
#footer .accordion-button:not(.collapsed) {
  color: black !important;
}
#footer .accordion-button:focus {
  border-color: black !important;
}
#footer .accordion-item {
  border: none !important;
}
#footer .accordion-item button {
  margin-bottom: 5px;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
#footer .accordion-body a {
  padding-bottom: 10px;
  font-family: "Poppins" !important;
  font-size: 0.75em !important;
  font-weight: 200 !important;
  line-height: 12px !important;
  letter-spacing: 0 !important;
}

/*# sourceMappingURL=style.css.map */
